.container {
    height: 100vh;
    width: 100vw;
    display: flex;    
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.form-card {
    background-color: #e2e8f0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60vw;
    
}

label {
    display: block;
    color: #4a5568;
}


input {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    appearance: none;
    border: 1px solid #cbd5e1;
    border-radius: 2%;
    width: 100%;
    padding: 0.5rem 0.75rem;
    color: #4a5568;
    line-height: 1.25;
    outline: none;
}

input:focus {
    box-shadow: 0 0 0 3px rgba(59,130,246,0.15); 
    border-color: #60a5fa;
}

form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-primary {
    background-color: #3b82f6; 
    width: auto;
    color: #ffffff;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color .15s ease, box-shadow .15s ease;
}

.btn-primary:hover {
    background-color: #1e40af;
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(59,130,246,0.25);
}

.lista{
    display: flex;
    align-items: center;
    gap: 1vh;
    width: 100%;
    height: 7vh;
    background-color: #0369a1;
    border-radius: 5px;
    padding: 1vh;
}

.itens-lista{
    text-align: center;
    color: white;
    font-weight: bold;
    height: auto;
    width: auto;
    padding: 1vh;
    border-radius: 5px;
    background-color: #93c5fd;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}